
    <div class="span4">
      <h2>Curators</h2>
      <%= render :partial => "shared/teaser_listing", :locals => { :things => @categories } %>
      <p><a class="btn" href="#">Curator index &raquo;</a></p>
    </div>