
    <div class="span4">
      <h2>Curators</h2>
      <%= render :partial => "curators/teaser_listing", :locals => { :things => @curators } %>
      <p><%= link_to "Curator Index &raquo;", curators_path, :class => "btn" %> <% %></p>
    </div>