
<div class="row-fluid">
  <div class="span3">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header">Curator Listing</li>
        <% @curators.each do |curator| %>
        <li><%= link_to curator.to_s, curator_path(curator.id) %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="span9">
    <div class="hero-unit">
      <% if @curator.nil? %>
      <h1>Curator Listings</h1>
      <% else %>
      <h1>Curator Listing for: <%= h @curator.to_s %></h1>
      <% end %>
    </div>

    <div class="row-fluid">
    <%= render(:partial => '/shared/data_sources_grid', :locals => { :data_sources => @curator.data_sources }) if !@curator.nil? && @curator.data_sources.count > 0 %>
    </div>
  </div>
</div>