
      <% count = 0 %>
      <% data_sources.each do |ds| %>
           <% if count % 3 == 0 %>
      </div>
      <div class="row-fluid">
          <% end %>
      <%= render :partial => "data_sources/mini", :locals => { :ds => ds } %>
      <% count+=1 %>
      <% end %>