
    <div class="well">
    <% things.each do |i| %>
    <%= content_tag(:span, truncate(h(i.to_s), :length => 55, :omission => '...'), :class => "label #{random_label_variant}") %>
    <% end %>
    </div>