
    <div class="hero-unit">
      <h1>About this site</h1>
      <p>Scope out and design the hooks and actions necessary for application developers to interface with NASA datasets through an API. NASA has thousands of publicly available datasets, ranging from deep-space radiation readings to geospatial imaging of the earth’s surface. While an API exists at data.nasa.gov to read these datasets’ metadata, there is no standard way to access the data itself.</p>

      <p><%= link_to "Space Apps Challenge &raquo;", "http://spaceappschallenge.org/challenge/preliminary-design-open-data-api/", :class => 'btn' %></p>
    </div>