
    <div class="hero-unit">
      <h1>Preliminary Design for Open Data API</h1>
      <p>This is a proof of concept for the International Space Apps Challenge: Preliminary Design for Open Data API.</p>
      <p><a class="btn btn-primary btn-large" href="http://spaceappschallenge.org/challenge/preliminary-design-open-data-api/">Learn more &raquo;</a></p>
    </div>

    <div class="row">
      <%= render(:partial => '/tags/teaser') if @tags.count > 0 %>
      <%= render(:partial => '/categories/teaser') if @categories.count > 0 %>
      <%= render(:partial => '/curators/teaser') if @curators.count > 0 %>
    </div>