
    <div class="span4">
      <h2>Tags</h2>
      <%= render :partial => "tags/teaser_listing", :locals => { :things => @tags } %>
      <p><%= link_to "Tag Index &raquo;", tags_path, :class => "btn" %> <% %></p>
    </div>